@import url(../css/fonts.css);
@import url(../css/variables.css); 
@import url("../css/utilities.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: nowrap;
  scroll-behavior: smooth;
}


html{
  height: 100%;
  font-family: 'Lato', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-light) var(--secondary-soft);
}

body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--light-fresh);
  color: var(--secondary);
  font-weight: 400;
  line-height: 1.5;
}

/* headings */
h1,h2,h3,h4,h5,h6{
  font-family: 'Merienda', sans-serif;
  font-weight: 700;
  color: var(--secondary-dark);
  width: fit-content;
}

p, a{
  color: var(--secondary);
  font-size: clamp(0.785rem, -1.5rem + 8vw, 1rem);
}

ul{
  list-style: none;
}

/* lead text */
.lead{
  font-size: 1.25rem;
  font-weight: 300;
}


/* text colors */
.text-muted{
  color:var(--secondary-light);
}
.text-danger{
  color:var(--danger);
}
.text-success{
  color: var(--success);
}
.text-warning{
  color: var(--warning);
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row{
  display: flex;
  flex-direction: row;
}

.row>*{
  width: 100%;
}

/* red underline */
.underline-fullwidth{
  position: relative;
}
.underline-fullwidth::after{
  content: '';
  width: 70%;
  height: 4px;
  background: var(--primary);
  position: absolute;
  left: 15%;
  bottom: -4px;
  border-radius: 20px;
}

img, svg{
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}

img{
  max-width: 100%;
  height: auto;
  font-style: italic;
  shape-margin: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  max-width: 180px;
}
.logo img{
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.8))
        drop-shadow(0 0 5px rgba(0,0,0,0.6));   
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

button, a{
  cursor: pointer;
}

a{
  text-decoration: none;
   font-family: "Lato", sans-serif;
}

.btn{
  width: 100%;
  border-radius: 20px;
  border-top-left-radius: 0;
  border: 0;
  padding: 15px 15px;
  font-weight: bold;
  background: var(--primary);
  color: var(--light-pure);
  font-size: 1rem;
  letter-spacing: 1px;
  transition: ease 400ms;
}

.btn:hover{
  background: var(--primary-dark);
}
.btn:active{
  background: var(--primary-light);
  color: var(--secondary-soft);
}

.icon-wrapper{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  padding: 12px 24px;
  color: var(--secondary);
  border-color: var(--secondary-light);
  font-size: 1rem;
  border-radius: 25px;
  border-top-left-radius: 0px;
  background-color: var(--secondary-soft);
  border: 0;
  width: 100%;
}

input[type="checkbox"], input[type="radio"]{
  cursor: pointer;
  
}

input:focus{
  outline:  var(--sky) solid 2px;
}

.heading{
  font-size: 4rem;
  font-weight: 800;
}