/* Color Variables  */
:root{
  /* 
    Primary Colors (RED)
  */
  --primary-light: #EB6167;
  --primary: #e22028;
  --primary-dark: #a80c11;
  --primary-darker: #9f1d1d;
  --primary-deep: #6F1414;

  --primary-hover: #832222;
  --primary-border: #1c00371c;
  
  --primary-alpha: #f0004010;
  --primary-transparent: #9f1d1d0d;
  /*
    SECONDARY (GRAY)
  */
   --secondary-soft: #E8E7E8; 
  --secondary-light: #6C646E;
  --secondary: #454043;
  --secondary-dark: #2c292b;
  --secondary-deep: #1f1c1e;

  /*
    Tertiary (GREEN)
  */
  --tertiary :#29ad82;
  --tertiary-light: #00b960;
  --tertiary-light-transparent:  #00b96029;


  /*
    Quaternary (YELLOWISH ORANGE)
  */
  --quaternary-light: #FFEB7A; 
  --quaternary: #f0d124;
  --quaternary-dark: #D4B400;       
  --quaternary-darker: #B39600;     
  --quaternary-deep: #8C7500; 

  /*
    Quinary (blue)
  */
    --sky: #3b99fc;
    --quinary: #0b68cb;

  /* 
    WHITES
  */
  --light-pure:#FFFFFF;
  --light-warm:#fff5ec;
  --light-fresh:#faffe8;

  --success:#0d884e;
  --warning: #ebbf3e;
  --danger: #c90a1d;

  --dark:#000000;
}