.table-btn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 0.5rem;
  padding: 10px;
  border-radius: 8px;

  .icon-wrapper svg{
    fill: var(--secondary-deep);
  }
}

.table-btn:hover{
  background-color: var(--hover-neutral-alpha);
}