.heading{
  font-size: 2rem;
  color: var(--secondary-deep);
}

.row{
  align-items: center;
  justify-content: center;
}

.row > *{
  width: unset;
}

.quick-btn-row{
  gap: 12px;
  align-items: center;
}

.quick-btn{
  display: inline-flex;
  padding: 10px 12px;
  border-radius: 6px;
  font-weight: normal;
  letter-spacing: normal;
  background-color: var(--light-pure);
  border: 1px solid var(--primary);
}
.quick-btn a{
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;
}

.quick-btn:first-child{
  a{
    color: var(--tertiary-light);
  }

  .icon-wrapper svg{
    fill: var(--tertiary-light);
  }
}

.quick-btn:nth-child(2){
  a{
    color: var(--tertiary);
  }
  .icon-wrapper svg{
    fill: var(--tertiary);
  }
}

.quick-btn:nth-child(3){
  a{
    color: var(--quinary);
  }
  .icon-wrapper svg{
    fill: var(--quinary);
  }
}

.quick-btn:last-child{
  a{
    color: var(--quaternary);
  }
  .icon-wrapper svg{
    fill: var(--quaternary);
  }
}

.quick-btn:hover{
  background-color: var(--primary);
  border-color: var(--primary);
  a{
    color: var(--light-pure);
  }

  .icon-wrapper svg{
    fill: var(--light-pure);
  }
}


/*
  KPI STYLES
*/

.kpi-grid{
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
  gap: 1.5rem;
}

.kpi-card{
  display: flex;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  align-items: flex-start;
  justify-content: space-between;
  border-width: 1.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 300ms ease;
}

.kpi-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  background-color: var(--tertiary-light-transparent);
}

.kpi-content{
  flex: 1;
}

.kpi-label{
  font-family: "Merienda", sans-serif;
  color: var(--secondary);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.month{
  font-size: .75rem;
  font-weight: 400;
}

.kpi-value{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--quaternary-dark);
}

.kpi-description{
  font-size: .85rem;
}

.kpi-icon{
  max-width: 2rem;
  width: clamp(1.5rem, 4vw, 2rem);
  padding: 4px;
  background-color: var(--tertiary-light-transparent);
  border-radius: 6px;
}

.kpi-icon svg{
  fill: var(--tertiary);
  height: auto;
  max-width: 1.6rem;
}

.kpi-card:first-child{
  .icon-wrapper{
    background-color: var(--quaternary-alpha-deep);
  }
  .icon-wrapper svg{
    fill: var(--quaternary);
  }
}
.kpi-card:first-child:hover{
  background-color: var(--quaternary-alpha);
}

.kpi-card:nth-child(3){
  .icon-wrapper{
    background: var(--quinary-alpha);
  }
  .icon-wrapper svg{
    fill: var(--quinary);
  }
}
.kpi-card:nth-child(3):hover{
  background-color: var(--quinary-alpha);
}

.kpi-card:last-child {

  .kpi-value{
    color: var(--primary);
  }

  .icon-wrapper{
    background: var(--primary-alpha);
  }

  svg{
  fill: var(--primary);
  }
}
.kpi-card:last-child:hover{
  background-color: var(--primary-alpha);
}