p{
  margin-top: 5px;
  margin-bottom: 15px;
  text-wrap: wrap;
}

.container{
  background: var(--light-pure);
  border: 1px solid var(--primary-border);
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2, p{
    margin-top: 1em;
  }
}