#dashboard{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.heading{
  font-size: 2rem;
  color: var(--secondary-deep);
}

.row > *{
  width: unset;
}

.quick-btn-row{
  gap: 8px;
  align-items: center;
}

.quick-btn{
  display: flex;
  padding: 8px 12px;
  border-radius: 12px;
  font-weight: normal;
  letter-spacing: normal;
  background-color: var(--light-pure);
  border: 1px solid var(--primary);
  .icon-wrapper svg{
    fill: var(--tertiary-light);
  }
}
.quick-btn a{
  font: inherit;
  font-weight: 700;
  color: var(--dark);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.quick-btn:hover{
  border-color: var(--primary-dark);
  a{
    color: var(--light-pure);
  }
}
 
.quick-btn:last-child{
  .icon-wrapper svg{
    fill: var(--quaternary);
  }
}


/*
  KPI STYLES
*/

.kpi-grid{
  grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
  gap: 1.5rem;
}

.kpi-card{
  display: flex;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--tertiary-light-transparent);
}

.kpi-label{
  font-family: "Lato", sans-serif;
  color: var(--secondary);
  font-size: .95rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}

.kpi-value{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.kpi-description{
  font-size: .85rem;
}