.row > *{
  width: unset;
}

.heading{
  font-size: 2rem;
  color: var(--secondary-deep);
}

.container:first-child .row:first-child{
  justify-content: space-between;
}

.heading-btn-row{
  align-items: center;
  justify-content: center;
  gap:12px;
}

.heading-btn-row .btn:first-child{
  padding: 8px;
  background: none;
  border-radius: 8px;
  border: 1.5px solid var(--secondary-soft);

  svg{
    fill: var(--secondary-light);
  }
  transition: 200ms ease;
}
.heading-btn-row .btn:first-child:hover{
  svg{
    fill: var(--secondary);
  }
}

#addButton{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 600;
}

/*
  modal
*/

.modal{
  width: 100%;
  
  
  form{
    all: unset;
  }
  * {
    text-wrap: nowrap;
    scrollbar-color: var(--secondary) !important;
  }

  .row{
    gap: 12px;
  }
}

.modal-dialog{
  max-width: 720px;
  border: 2px solid black;
  border-radius: 12px;
  align-items: center;
}

.modal-header, .modal-body, .modal-footer{
  padding: 1.5rem;
}

.modal-header{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .icon-wrapper{
    cursor: pointer;
  }
  svg{
    fill: var(--secondary-light);
  }
}

.modal-footer{
  padding-top: 0;
}

.modal-body{
  padding-top: 0;
}

.input-group{
  display: flex;
  flex-direction: column;
  flex: 1;

  input{
    background: none;
    border: 1px solid var(--secondary-light) !important;
    border-radius: 8px;
  }
}

.tab-container{
  flex-direction: column;
}

