/*
  table
*/
.table-container{
    overflow-anchor: none;
    max-height: 600px;
    border-color: var(--secondary-soft);
    border-width: 1px;
    border-radius: 8px;
  }
  .table-container table{
    width: 100%;
    border-collapse: collapse;
    text-indent: 0;
  
    thead{
    background: var(--light-warm);
  }
  
    tr{
      border-color: var(--border-neutral-alpha);
      border-bottom-width: 1px;
      align-items: center;
    }
  
    th{
      padding: 1rem;
      text-align: left;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      align-items: center;
    }
  
    td{
      padding: 1rem;
      font-size: 0.875rem;
      align-items: center;
    }
  }
  
  tr td:last-child .item-group{
    justify-content: space-between;
  }
  
  .item-group{
    align-items: center;
    gap: 12px;
  }
  
  .item-group .item-img{
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    overflow: hidden;
  
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--light-pure);
      background: var(--primary);
    }
  } 
  
  .item-data{
    max-width: 10rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .more-actions{
    padding: 10px;
    background: none;
    border: 0;
    border-radius: 8px;
    
    .icon-wrapper svg{
      fill: var(--secondary-light);
    }
    transition: 200ms ease;
  }
  
  .more-actions:hover{
    background: var(--hover-neutral-alpha);
  }