.heading-btn-row .btn:first-child{
  padding: 8px;
  background: none;
  border-radius: 8px;
  border: 1.5px solid var(--secondary-soft);

  svg{
    fill: var(--secondary-light);
  }
  transition: 200ms ease;
}
.heading-btn-row .btn:first-child:hover{
  svg{
    fill: var(--secondary);
  }
}

/*
  modal
*/





#recipe .row:first-child {
  margin-bottom: 2rem;
  justify-content: space-between;

  row{
    flex: 1;
    gap: 2rem;
  }

  .input-group{
    flex: unset;
    flex-direction: row;
    align-items: center;

    span, data{
      font-size: 15px;
    }

    #suggested-price-display{
      font-size: 1.2rem;
      color: var(--quaternary-dark);
      font-weight: 900;
    }
  }

}