.row > *{
  width: unset;
}

.heading{
  font-size: 2rem;
  color: var(--secondary-deep);
}

.container:first-child .row:first-child{
  justify-content: space-between;
}

.heading-btn-row{
  align-items: center;
  justify-content: center;
  gap:12px;
}


#addButton, .leftBtn{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .3rem;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 600;
}

.leftBtn{
  background-color: transparent;
  color: var(--tertiary-light);
  border: 1px solid var(--secondary-soft);
  gap: 6px;
  transition: 300ms all ease-in;

  svg{
    fill: var(--tertiary-light);
    transition: 200ms all ease-in;
  }
}

.leftBtn:hover{
  color: var(--light-pure);
  background-color: var(--tertiary-light);
  border-color: transparent;

  svg{
    fill: var(--light-pure);
  }
}