body{
  display: grid;
  grid-template-columns: auto 1fr;
  background: var(--light-pure);
}

#sidebar{
  height: 100vh;
  width: 260px;
  padding: 12px 1em;
  background-color: var(--primary-deep);
  border-right: 1px solid var(--primary-border);
  position: sticky;
  top: 0;
  align-self: self-start;
  transition: 300ms ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  text-wrap: nowrap;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-soft) var(--primary-transparent);
}
#sidebar.close{
  scrollbar-gutter: unset;
  padding: 5px;
  width: 60px;
  

  .nav-item, .dropdown-arrow{
    opacity: 0;
  }
}

#sidebar nav{
  width: 100%;
}

#sidebar nav ul{
  height: auto;
}

#sidebar nav ul, #sidebar nav ul li{
  width: 100%;
  position: relative;
}

#sidebar nav > ul > li:first-child{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.2rem;
}

#sidebar nav > ul > li:not(:first-child){
  margin-bottom: .5rem;
}

#sidebar nav > ul > li:last-child{
  margin-bottom: 0px;
}

#sidebar a, #sidebar .dropdown-btn, #sidebar #logout-btn{
  border-radius: .5em;
  padding: .85em;
  color: var(--secondary-soft);
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar ul li.active, .dropdown-btn.active{
  border-radius: .5em;
  a,span{
    color: var(--quaternary);
  }

  background-color: var(--primary-hover);
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 2px solid var(--quaternary-darker);

  svg{
    fill: var(--quaternary);
  }
}

#sidebar .sub-menu li.active{
  border-radius: .5em;
  a{
    color: var(--quaternary);
  }
  background: none;
  border: 0;

  svg{
    fill: var(--quaternary);
  }
}

.icon-wrapper{
  white-space: nowrap;
}

#sidebar svg{
  width: fit-content;
  flex-shrink: 0;
  fill: var(--secondary-soft);
}

#sidebar .nav-item{
  flex-grow: 1;
  transition: 300ms ease-in-out;
}

#logout-btn .nav-item{
  text-align: start;
}

#sidebar li a:hover, #sidebar .dropdown-btn:hover, #sidebar #logout-btn:hover, #sidebar #toggle-btn:hover{
  background-color: var(--primary-hover);
}

#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;
  margin-top: 0.5rem;

  > div{
    overflow: hidden;
  }
}
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
.dropdown-arrow svg{
  transition: 200ms ease;
}
.rotate .dropdown-arrow svg, #sidebar nav > ul > li:first-child .rotate svg{
  rotate: 180deg;
}

#sidebar .sub-menu a{
  padding-left: 3.2em;
  padding-right: 1em;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sidebar-btn{
  border: 0;
  background: none;
  cursor: pointer;
  font: inherit;
}
.dropdown-btn{
  width: 100%;
  text-align: left;
  font: inherit;
}
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border-radius: 0.5em;

  svg{
    transition: rotate 150ms ease;
  }
}
#toggle-btn.rotate{
  width: 100%;
  display: flex;
  justify-content: center;
}
#logout-btn{
  width: 100%;
}

#sidebar nav form{
  all: unset;
}

.logo{
  width: clamp(60px, 10vw, 80px);
  white-space: nowrap;
  transition: 300ms ease-in-out;
  img{
     transition: 300ms ease-in-out;
  }
}



section{
  padding: min(34px, 7%) min(30px, 7%);
  width: 100%;
}

section *{
  text-wrap: wrap;
}

/*
  Responsiveness for various devices
*/

@media(max-width:800px){
  body{
    grid-template-columns: 1fr;
  }

  section{
    padding: 2em 1em 60px 1em;
  }

  .container{
    border: none;
    padding: 0;
  }

  #sidebar.close{
    width: 100%;
    padding: 0;
  }

  /* sidebar */
  #sidebar{
    height: 60px;
    width: 100%;
    border-right: none;
    padding: 0;
    position: fixed;
    z-index: 100;
    top: unset;
    bottom: 0;
    overflow: hidden;
      
     ul{
      padding: 0;
      display: flex;
      align-items: center;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }

    ul li{
      height: 100%;
    }

    ul a, ul .dropdown-btn, ul #logout-btn{
      width: 100%;
      height: 60px;
      padding: 0;
      border-radius: 0;
      justify-content: center;
    }
  }

  #sidebar nav > ul > li{
    flex: 0 0 20%;
  }


  #sidebar nav > ul > li:not(:first-child){
    margin-bottom: 0px;
  }

  #sidebar ul li.active, .dropdown-btn.active{
    border-left: none;
    border-top: 1px solid var(--quaternary);
    border-radius: 0;
  }

  #sidebar .nav-item, #sidebar nav > ul > li:first-child, .dropdown-btn .icon-wrapper:last-child{
    display: none;
  }

  #sidebar ul li .sub-menu{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    opacity: 0;
    grid-template-rows: unset;
    transform: translateY(10px);
    pointer-events: none;
    height: 60px;
    width: 100%;
    transition: opacity 200ms ease-in-out, transform 150ms ease-in-out;
  }

  #sidebar ul li .sub-menu.show{
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
    position: fixed;
    z-index: 2;
    bottom: 60px;
    left: 0;
    height: 60px;
    width: 100%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    
    > div{
      
      overflow-x: auto;
      overflow-y: hidden;
      
    }

    li{
      display: inline-flex;
      width: auto;
    }

    a{
      font-size: min(1rem);
      padding: 1em;
      width: auto;
      justify-content: center;
    }
  }
}