/* 
  Table Controls
*/

.table-controls{
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchbox{
  position: relative;
  width: 250px;
  align-items: center;
}

.searchbox .icon-wrapper{
  position: absolute;
  position-anchor: --searchbox_input;
  top: anchor(top);
  bottom: anchor(bottom);
  left: calc(anchor(left) + 15px);

  svg{
    fill: var(--secondary-light);
  }
}

.searchBar{
  background: none;
  anchor-name: --searchbox_input;
  padding: 10px 16px 10px 40px;
  border-radius: 8px;
}