.row{
  align-items: center;
  justify-content: center;
}

.quick-btn-row{
  gap: 12px;
  align-items: center;
}

.quick-btn{
  display: inline-flex;
  padding: 10px 12px;
  border-radius: 6px;
  letter-spacing: normal;
  background-color: var(--light-pure);
  border: 1px solid var(--primary);
  font-size: 14px;
  font-weight: 600;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;

  .icon-wrapper svg{
    transition: 400ms ease;
  }
}

.quick-btn:first-child{
  color: var(--tertiary-light);

  .icon-wrapper svg{
    fill: var(--tertiary-light);
  }
}

.quick-btn:nth-child(2){
  color: var(--quinary);
  
  .icon-wrapper svg{
    fill: var(--quinary);
  }
}

.quick-btn:last-child{
  color: var(--quaternary);

  .icon-wrapper svg{
    fill: var(--quaternary);
  }
}

.quick-btn:hover{
  background-color: var(--primary);
  border-color: var(--primary);
  
    color: var(--light-pure);


  .icon-wrapper svg{
    fill: var(--light-pure);
  }
}


/*
  KPI STYLES
*/

.kpi-grid{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

.kpi-card{
  display: flex;
  padding: 1.5rem 1rem;
  border-radius: 12px;
  align-items: flex-start;
  justify-content: space-between;
  border-width: 1.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 300ms ease;
}

.kpi-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  background-color: var(--tertiary-light-transparent);
}

.kpi-content{
  flex: 1;
}

.kpi-label{
  font-family: "Merienda", sans-serif;
  color: var(--secondary);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.month{
  font-size: .75rem;
  font-weight: 400;
}

.kpi-value{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--quaternary-dark);
}

.kpi-description{
  font-size: .85rem;
}

.kpi-icon{
  max-width: 2rem;
  width: clamp(1.5rem, 4vw, 2rem);
  padding: 4px;
  background-color: var(--tertiary-light-transparent);
  border-radius: 6px;
}

.kpi-icon svg{
  fill: var(--tertiary);
  height: auto;
  max-width: 1.6rem;
}

.kpi-card:first-child{
  .icon-wrapper{
    background-color: var(--quaternary-alpha-deep);
  }
  .icon-wrapper svg{
    fill: var(--quaternary);
  }
}
.kpi-card:first-child:hover{
  background-color: var(--quaternary-alpha);
}

.kpi-card:nth-child(3){
  .icon-wrapper{
    background: var(--quinary-alpha);
  }
  .icon-wrapper svg{
    fill: var(--quinary);
  }
}
.kpi-card:nth-child(3):hover{
  background-color: var(--quinary-alpha);
}

.kpi-card:last-child {

  .kpi-value{
    color: var(--primary);
  }

  .icon-wrapper{
    background: var(--primary-alpha);
  }

  svg{
  fill: var(--primary);
  }
}
.kpi-card:last-child:hover{
  background-color: var(--primary-alpha);
}

/*
  grid content
*/

.grid-content{
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;

  >.dashboard-section:nth-child(2){
    .section-content:first-child{
      flex: unset !important;
      .section-header{
        border-bottom: unset;
        padding-bottom: 0;
      }
      .section-header h3{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
      }

      data{
        display: block;
        color: var(--dark);
        font-size: 1.5rem;
        font-weight: 900;
      }
    }
  }

  .section-content{
      display: flex;
      flex-direction: column;
      flex: 1;
    }
}

.dashboard-section{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  >.section-content{
  border-radius: 12px;
  padding: 1.5rem;
  padding-top: 0;
  border: 1.5px solid;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.055);
  width: 100%;
  }
  width: 100%;
}

.section-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--quaternary);
  padding-bottom: 12px;
  padding-top: 24px;

  >a{
    color: var(--quaternary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 700;
    transition: 300ms ease;
    
    .icon-wrapper svg{
      fill: var(--quaternary);
      width: 18px;
      height: 18px;
      transition: 300ms ease;
    }
  }

  a:hover{
    color: var(--quaternary-dark);
    transform: translateX(4px);

    svg{
      fill: var(--quaternary-dark);
    }
  }
}

.chart-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  

  .chart-legends{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    >.total-group:first-child{
      .icon-wrapper svg{
        fill: rgb(136, 191, 77);
      }

      >data{
        color: rgb(136, 191, 77);
      }
    }

    >.total-group:nth-child(2){
      .icon-wrapper svg{
        fill: rgb(231, 84, 84);
      }

      >data{
        color: rgb(231, 84, 84);
      }
    }
  }
}
.total-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
    > .row{
      align-self: flex-start;
    gap: 5px;

    >.icon-wrapper svg{
      width: 16px;
      height: 16px
    }
  }

  data{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
  }
}


/*
  list
*/
.list{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.list-item{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  
  border-bottom: 1px solid var(--primary-border);

  .item-info{
    display: flex;
    flex-direction: column;
    gap: 6px;

    .item-name{
      color: var(--secondary-deep);
      font-weight: 700;
    }

    .item-meta{
      display: flex;
      align-items: center;
      
      gap: 1.2rem;
    }
  }

  .icon-wrapper svg{
    width: 28px;
    height: 28px;
  }
}

.list-item:last-child{
  border-bottom: unset;
}

.empty-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 12px;
  background: var(--neutral-alpha-light);

  p{
    font-size: 1.1rem;
    padding: 2rem;
    text-align: center;
  }
}

.out-of-stock-item{
  background: var(--danger-alpha);
}

.low-stock-item{
  background: var(--warning-alpha);
}

.alert-item{
  justify-content: space-between;
  border-radius: 8px;
  border-bottom: unset;

  .item-info{
    gap: 14px;
  }

  #no-stock svg{
    fill: var(--danger);
  }

  #yes-stock svg{
    fill: var(--warning);
  }
  .icon-wrapper svg{
    width: 32px;
    height: 32px;
  }
}

.alert-item-details{
  .stock-qty{
    padding: 4px 6px;
    background: var(--light-pure);
    border-radius: 6px;
  }
  .stock-qty.out-of-stock{
    color: var(--danger);
    font-weight: 700;
  }

  .stock-qty.low-stock{
    color: var(--warning);
    font-weight: 700;
  }
}


.activity-info{
  .activity-details{
    font-size: 14px;
  }
}

/*
  low stock list
*/

#low-stock-section{
  position: relative;
  max-height: 645px;
  overflow-y: auto;

  .section-header{
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--light-pure);
  }
}